

<ion-header>
  
  <ion-toolbar>
    <ion-title>{{titulo}}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <p id="fecha"><strong>Fecha elegida:</strong> {{fechaElegida}}</p>

  <ion-list>
  
    <ion-item>
      <ion-label>Comida</ion-label>
      <ion-select required interface="action-sheet" placeholder="Selecciona" mode="ios" [(ngModel)]="comida">
        <ion-select-option value="Desayuno">Desayuno</ion-select-option>
        <ion-select-option value="Merienda Matutina">Merienda Matunina</ion-select-option>
        <ion-select-option value="Almuerzo">Almuerzo</ion-select-option>
        <ion-select-option value="Merienda Vespertina">Merienda Vespertina</ion-select-option>
        <ion-select-option value="Cena">Cena</ion-select-option>
        <ion-select-option value="Merienda Nocturna">Merienda Nocturna</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre del plato o comida</ion-label>
      <ion-input required type="text" name="nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ingredientes</ion-label>
      <ion-textarea name="ingredientes" [(ngModel)]="ingredientes" placeholder="Consejo: separelos por coma"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Notas</ion-label>
      <ion-textarea name="notas" [(ngModel)]="notas"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad de calorias</ion-label>
      <ion-input required type="number" name="calorias" [(ngModel)]="calorias"></ion-input>
    </ion-item>
  
  </ion-list>
  
  <p id="mensajeError"> {{mensajeError}}</p>

  <ion-button color="primary" expand="block" (click)="agregarOActualizarComida(opcion, docId, comida, nombre, ingredientes, notas, calorias)">Guardar</ion-button>
  <ion-button color="danger" expand="block" (click)="cerrarPopover()">Cancelar</ion-button>
  <br> 

</ion-content>



