#contenedor{
    border: 2px solid aliceblue;
    border-radius: 5px;
}


#fecha{
    text-align: center; 
    background: #DD3A46;
    color: aliceblue;
    border-radius: 10px;
    display: block;
    width: max-content;
    margin: 5px auto;
    padding: 5px;
}


#mensajeError{
    color: #DD3A46;
    text-align: center;
}

ion-item{
    --background: transparent;
    color: aliceblue;
}

ion-button{
    
    margin: 10px auto;
}

#especificacionesAvanzadas{
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
}

.medidas{
    text-align: center;
    color: #ffd534;
}

.macroYMicro{
    background: aliceblue;
    color: rgba(0, 0, 114, 0.781);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

#tituloVitaminas, #tituloMinerales{
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

ion-grid{
    ion-item{
        border-radius: 10px;
    }
}