
ion-button{
    margin: 15px;
}

#alinearLabel ion-label{
    text-align: center;
}

ion-card-content ion-button{
    position: absolute;
    right: 15px;
    bottom: 0px;
}

#fecha{
    --background: #DD3A46;
    color: aliceblue;
}

ion-item ion-button.detalles{
    --background: rgba(0, 0, 114, 0.781);
  }