
ion-fab ion-fab-button{
    margin-bottom: 10px;
}

ion-text{
    text-align: center;
    background-color: rgb(255, 226, 59);
    color: rgb(255, 70, 23);
    border-radius: 10px;
    font-size: 1.2em;
    width: 80%;
    margin: 40px auto 0 auto;
    padding: 10px;
}


