ion-label{
    text-align: center;
}

#mensajePantallaVacia{
    text-align: center;
    margin: 200px 20px;
  }


#fecha{
    display: inline-block;
}

#iconoMas{
    position: absolute;
    right: 20px;
    font-size: 30px;

}

ion-item ion-button.detalles{
    --background: rgba(0, 0, 114, 0.781);
  }
