ion-label{
    text-align: center;
}

#mensajePantallaVacia{
    text-align: center;
    margin: 200px 20px;
  }


#fecha{
    display: inline-block;
}

#iconoMas{
    position: absolute;
    right: 20px;
    font-size: 30px;

}
