ion-card-header{
    text-align: center;
    ion-card-subtitle{
        color: rgba(0, 0, 114, 0.781);
    }
}

ion-card{
    --background: #FEBE10;
}

ion-card-content{
    
    

    p{
        font-size: 1.2em;
        color: black;
        margin: 10px 0px;
    }

}