
ion-card-title{
    text-align: center;
}


p, ion-input, ion-select, ion-select-option{
    font-size: 1.2em;
}

ion-button{
    
    margin: 15px auto;
}

ion-card{
    margin: 10px;
}

ion-content{
    margin: 15px;
}