/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ion-toolbar{
    text-align: center;
    --background: rgba(0, 0, 114, 0.781);
    color: aliceblue;
  }

.popover {
    --width: 90%;

}

/*
.alertaExito{

    --background: #2dd36f ;
    alert-button{
        color: white;
      }
    
}

.alertaError{

    --background: #eb445a;
    alert-button{
        color: white;
      }
      
    
}*/

ion-calendar{
    border: 2px groove rgba(0, 0, 114, 0.781);
    border-radius: 10px;

    div.title{
        background-color: #2dd36f ;
        border-radius: 20px;
        *{
            color: aliceblue !important;
        }
    }
    .forward.md.button.button-clear.button-has-icon-only.ion-activatable.ion-focusable.hydrated{
        background-color: rgba(0, 0, 114, 0.781);
        border: 5px solid rgba(0, 0, 114, 0.781);
        border-top-right-radius: 50px ;
        border-bottom-right-radius: 50px;
    }

    .back.md.button.button-clear.button-has-icon-only.ion-activatable.ion-focusable.hydrated{
        background-color: rgba(0, 0, 114, 0.781);
        border: 5px solid rgba(0, 0, 114, 0.781);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

}



