ion-toolbar{
  text-align: center;
  --background: rgba(0, 0, 114, 0.781);
  color: aliceblue;
}

ion-item ion-label{
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

ion-item-sliding{
  border: 1px solid rgba(0, 0, 114, 0.781);
  margin: 15px 0;
  border-radius: 10px;
  
}

ion-item ion-label h1{
  font-size: 0.85em; 
}

#mensajePantallaVacia{
  text-align: center;
  margin: 200px 20px;
}

#fecha ion-label{
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

#fecha{
  --background: #DD3A46;
  color: aliceblue;
}

ion-item-sliding{
  ion-item, ion-item-options{
    border-radius: 10px;
  }

  ion-item ion-button.detalles{
    --background: rgba(0, 0, 114, 0.781);
  }
  
}