ion-toolbar{
  text-align: center;
  --background: rgba(0, 0, 114, 0.781);
  color: aliceblue;
}

ion-item ion-label{
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}

ion-item-sliding{
  border: 1px solid rgba(0, 0, 114, 0.781);
  margin: 15px 0;
  

}


ion-item ion-label h1{

  font-size: 0.85em; 
}

ion-header{
  margin-bottom: 25px;
}

#mensajePantallaVacia{
  text-align: center;
  margin: 200px 20px;
}



/*ion-card, ion-item{
  --background:  rgb(255, 205, 133);
}*/

/*h1{
  text-align: center;
  width: 90%;
  border: 2px groove grey;
  border-radius: 20px;
  margin: 20px auto;
  background: rgb(0, 89, 255);
  color: aliceblue;
}*/

