

<ion-content fullscreen="true">

  <ion-header color="transparent">
    <img src="/assets/Logo.png" alt="">
  </ion-header>
    
  
  
  <div id="login">
    <ion-item>
      <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" placeholder="Contraseña" name="contrasena" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    
    <ion-button disabled="{{botonIniciarSesion}}" color="success" expand="block" (click)="iniciarSesion()">Iniciar Sesión</ion-button>

    <ion-button color="light" expand="block" (click)="entrarConGoogle()">
      <ion-icon slot="start" src="assets\google_icon-icons.com_62736.svg"></ion-icon>
      Iniciar Sesión con google
    </ion-button>
    
    

  </div>

  <ion-footer class="footer1">

    <ion-text>Si ha olvidado su contraseña <a (click)= "recuperarContrasena()" >Pulse aquí</a></ion-text>

  </ion-footer>

  <ion-footer class="footer2">

    <ion-text>¿No tienes una cuenta? <a (click)= "registrarse()" >Create una</a></ion-text>

  </ion-footer>

  
  

</ion-content>

