
ion-content {
    --background: rgba(0, 0, 114, 0.781);   
}

ion-content ion-header{
    width: 70%;
    margin: 40px auto;
    img{
        width: 100%;
        margin: auto;
    }
}

ion-item{
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

ion-button{
    width: 80%;
    margin: 15px auto;
}

ion-footer.footer1{
    width: 70%;
    color: aliceblue;
    text-align: center;
    margin: 15px auto;
    a{
        display: block;
        text-decoration: underline;
        color: rgb(255, 205, 133);
    }
}

ion-footer.footer2{
    color: aliceblue;
    text-align: center;
    margin: 40px auto;
    a{
        
        text-decoration: underline;
        color: #2dd36f;
    }
}

